---
Language: Cpp
BasedOnStyle: LLVM

UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4

BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
LambdaBodyIndentation: OuterScope

ColumnLimit: 100

PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: true
BinPackParameters: true

AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments: false
AlignOperands: Align

NamespaceIndentation: None
CompactNamespaces: false
FixNamespaceComments: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: false

IndentCaseLabels: false
IndentPPDirectives: None

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex:    '^"'
    Priority: 1
  - Regex:    '^<[a-z_]+>$'
    Priority: 2
  - Regex:    '^<.*\.h>$'
    Priority: 3
